.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 1;

  @media screen and (max-width: 992px) {
    min-height: unset;
    margin: 0 auto;
    align-items: flex-start;
    top: -30px;
  }
}
